{%extends "base.html" %}

{%block contents%}

<div class="alert alert-primary" role="alert">
    Atenção: Alguns tickers podem não estar presentes nos resultados. Isso pode ocorrer se o ticker não existir, ou se as fontes externas de onde os dados são obtidos não possuírem informações sobre ele. Recomendamos verificar a existência do ticker e a disponibilidade de dados antes de realizar a consulta.
</div>

<br>

<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <strong>Atenção:</strong> Este processo é intensivo e pode exigir muito do servidor. Por isso, não podemos garantir resultados imediatos. A duração do processo depende da quantidade de tickers: quanto mais tickers, mais tempo pode levar, geralmente em torno de 10 minutos. Além disso, realizar esta operação fora do horário comercial da bolsa de valores ou durante finais de semana pode resultar em falta de dados, pois as fontes externas podem não estar disponíveis ou atualizadas nesses períodos.
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- Botão para acionar o modal -->
            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#monteCarloModal">
                O que é Simulação de Monte Carlo?
            </button>
        </div>
        <div class="col">
            <!-- Botão para popover de Ajuda -->
            <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Instruções" data-bs-content="Insira os tickers separados por linhas e clique em processar.">
                Ajuda?
            </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="monteCarloModal" tabindex="-1" aria-labelledby="monteCarloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="monteCarloModalLabel">Simulação de Monte Carlo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A simulação de Monte Carlo é uma técnica matemática que permite entender o impacto do risco e da incerteza em modelos de previsão e estimativa. Ela usa uma gama de valores possíveis para todas as variáveis incertas em um modelo e, em seguida, calcula os resultados repetidamente, cada vez usando um conjunto diferente de valores aleatórios das variáveis probabilísticas. Isso proporciona uma distribuição de resultados prováveis e é uma forma poderosa de visualizar o risco e a incerteza em modelos financeiros e de previsão.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<br><br><br>




<form method="post" id="myForm">
    {% csrf_token %}


    <div class="container">
        <div class="row">      
            <div class="col-auto">   
                <div class="input-group mb-3">
                    <span class="input-group-text">Tickers</span>
                    {{ form.ticker }}
                </div>
            </div>
        </div> <div class="row">   
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Processar!</button>
            </div>
        </div>              
    </div>
</form>



<div class="container text-center">
    <div id="spinner" style="display: none;">
        <strong role="status">Simulando 5 mil carteiras para encontrar as melhores opções para você!</strong>
        <p>Este processo é bastante demorado. Agradecemos a sua paciência.</p>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        <p class="mt-2">Por favor, não feche nem atualize a página durante a simulação, para garantir que o processo seja concluído com sucesso.</p>
    </div>
</div>




<!------------------------------------------------------------->
<!------------------------------------------------------------->
<!------------------------------------------------------------->


{% if carteiras %}
<div class="container mt-4">
    <div class="row">
       {% for carteira in carteiras %}
        <div class="col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-header text-bg-dark">
                    <h4 class="card-title">{{carteira.Tipo}}</h4>
                </div>
                <div class="card-body">
                    <div><strong>Retorno:</strong> {{ carteira.Retorno|floatformat:2     }}%</div>
                    <div><strong>Risco:</strong> {{ carteira.Risco|floatformat:2 }}%</div>
                    <div><strong>Risco Ajustado:</strong> {{ carteira.RiscoAjustado|floatformat:2 }}%</div>
                    <div><strong>Sharpe Ratio:</strong> {{ carteira.Sharpe|floatformat:2 }}</div>
                    <div><strong>Sortino Ratio:</strong> {{ carteira.Sortino|floatformat:2 }}</div>
                    <br>
                    <p><strong>Composição da Carteira:</strong></p>

                    <ul>
                        {% for ticker, peso in carteira.Tickers.items %}
                            <li>{{ ticker }}: {{ peso|floatformat:2 }}%</li>
                        {% endfor %}
                    </ul>
                    <p><strong>Pesos ordenados:</strong></p>

                    <p><strong>Pesos ordenados:</strong></p>
                    <ul>
                        {% for ticker, peso in carteira.SortedTickers %}
                            <li>{{ ticker }}: {{ peso|floatformat:2 }}%</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endif %}


{%endblock%}

{%block scripts%}
<script>
    document.getElementById('myForm').addEventListener('submit', function() {
        document.getElementById('spinner').style.display = 'block';
    });
</script>


<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>


{%endblock%}