<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block page_title %} FinAsset {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include "navbar.html" %}

{% block contents %}

<div class="container my-5">
    <h1 class="text-center mb-5">Bem-vindo ao FinAsset</h1>

    <div class="row g-4">
        <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Ativo Info</h4>
                    <p class="card-text">Explore informações detalhadas sobre ativos, incluindo preço, DY, preço teto e descontos.</p>
                    <a href="{% url 'ativoInfo' %}" class="btn btn-outline-primary">Acessar Ativo Info</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Previsão de Preço de Ativos</h4>
                    <p class="card-text">Descubra as projeções de preços em cenários otimista, normal e pessimista.</p>
                    <a href="{% url 'projecaoPrecos' %}" class="btn btn-outline-primary">Explorar Previsões</a>
                </div>
            </div>
        </div>
                    <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Simulação de Monte Carlo</h4>
                    <p class="card-text">Use simulações de Monte Carlo para avaliar o desempenho de carteiras de investimento em diferentes cenários.</paciência>
                    <a href="{% url 'monteCarlo' %}" class="btn btn-outline-primary">Explorar Simulação de Monte Carlo</a>
                </div>
            </div>
        </div>
    </div>

            <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Verifica Potencial de Retorno da Carteira</h4>
                    <p class="card-text">Avaliar o desempenho de uma carteira de investimento em diferentes cenários.</paciência>
                    <a href="{% url 'PotencialCarteira' %}" class="btn btn-outline-primary">Explorar Potencial de Retorno da Carteira</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Encontrar Ativos</h4>
                    <p class="card-text">Em breve: Ferramenta para encontrar os 10 melhores ativos com potencial de retorno baseado no IDIV, Ibovespa, IFIX, Small Caps ou personalizado.</p>
                    <!-- <a href="#" class="btn btn-outline-primary">Encontrar Ativos</a> -->
                </div>
            </div>
        </div>
    </div>




<div class="row my-4">
    <div class="col-12">
        <h2 class="text-center">Features em Desenvolvimento</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Encontrar Ativos:</strong> Uma ferramenta para identificar ativos promissores com base em critérios como IDIV, Ibovespa, IFIX, Small Caps ou critérios personalizados.
            </li>
            <li class="list-group-item">
                <strong>Análise Potencial Retorno de Carteira:</strong> Ferramenta de análise para calcular e prever o potencial de retorno de uma carteira de investimentos, considerando a diversificação e riscos.
            </li>
            <!-- Adicione mais itens conforme necessário -->
        </ul>
    </div>
</div>





{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
